<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
    <title>Pagina principal</title>
    <link rel="stylesheet" href="css/styleIndex.css">
</head>
<body>
    <header>        
        <div class="idiomas">
                <p class="idiomas">
                    <a href="index.html">
                        <img src="/images/Espanol.png">
                    </a>
                    <a href="index.html">
                        <img src="/images/ingles.png">
                    </a>
                </p>
        </div>
        <section class="cabecera">
            <div> 
                <img class="logo" src="/images/logo g5.png"  alt="Logo de Bodega G5">
            </div>
        
            <nav class="mainmenu">
                <ul>
                    <li><a href="menu1">Nuestra Historia</a></li>
                    <li><a href="/productDetail">Productos</a></li>
                    <li><a href="/register">Registrate</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="menu5">Contactenos</a></li>
                    <li><a href="menu6">Compras <i class="fas fa-shopping-cart"></i></a> </li>

                </ul>  
            </nav>    
        </section>    
    </header>
    <div class="marcobodega">
        <img class="bodega" src="/images/FotoPaginaInicio.jpg"  alt="imagen">
    </div>
    <footer>
        <div class="pie">
            <h4>Nuestro Proyecto</h4>
            <p class="texto">
                GRUPO 5 se embarcó en el proyecto de la construcción de una bodega en donde se elaboran sus líneas. 
                La misma se encuentra ubicada en Perdriel, departamento de Luján de Cuyo. Aquí, desde el año 2021 
                se producen los vinos de ambos bajo la supervisión de Juan Felipe Diez y un equipo de profesionales 
                Juan Carlos Fedyna, Harvey Mayorga y Daniel Modarelli
                comprometidos y preparados 
                para llevar adelante la tarea de elaboración de vinos de alta gama.<br><br>

                El mayor logro pasa por el desarrollo de una bodega pensada para producir vinos argentinos 
                de gran personalidad y distinción.<br><br>

                Bodega GRUPO 5, es la prueba de que siempre se puede ir más allá de un objetivo, 
                innovando, estudiando, conociendo, manteniéndose en constante movimiento. 
                Es el resultado de una misma pasión, el vino, y la certeza de que el mejor maridaje se logra 
                cuando lo compartimos con quienes  y lo que más disfrutamos de la vida.
            </p>
        </div>
        <div class="copyright">
            <p>Copyright O 2022 Bodegas y Viñedos Grupo 5 S.R.L.</p>
        </div>  
    </footer> 
</body>
</html>