<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
    <title>Login</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>    
        
        
        <form action="" method="post" class="create-user">
            <div  class="control-formulario">
                <input type="text" name="nombreyapellido" placeholder="Nombres y apellidos"class="control">
            </div>
            <div  class="control-formulario">
                <input type="email" name="email" placeholder="E-mail" class="control">
            </div>
            <div  class="control-formulario">
                <input type="text" name="telefono" placeholder="Telefono" class="control">
            </div>
            <div  class="control-formulario">
                <input type="password" name="password" placeholder="Password" class="control">
            </div>
            <div  class="control-formulario">
                <input type="password" name="cpassword" placeholder="Confirmar password" class="control">
            </div>
            <div class="control-formulario">
                <button type="reset" class="boton-formulario">Registrar</button>
            </div>
        </form>
</body>
</html>