<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
    <title>Login</title>
    <link rel="stylesheet" href="css/stylesRegister.css">
</head>
<body>
    <header>        
        <div class="idiomas">
                <p class="idiomas">
                    <a href="index.html">
                        <img src="/images/Espanol.png">
                    </a>
                    <a href="index.html">
                        <img src="/images/ingles.png">
                    </a>
                </p>
        </div>
        <section class="cabecera">
            <div> 
                <a href="/"><img class="logo" src="/images/logo g5.png"  alt="Logo de Bodega G5"></a>
            </div>

            <nav class="mainmenu">
                <ul>
                    <li><a href="menu1">Nuestra Historia</a></li>
                    <li><a href="/productDetail">Productos</a></li>
                    <li><a href="/register">Registrate</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="menu5">Contactenos</a></li>
                    <li><a href="/productCart">Compras <i class="fas fa-shopping-cart"></i></a> </li>
                </ul>  
            </nav>    
        </section>    
    </header>
    <main>
        <form action="" method="post" class="create-user">
            
            <h3 class="titulo-register">
                Ingresa tu e-mail y contraseña
            </h3>
            <div  class="control-formulario">
                <input type="email" name="email" placeholder="E-mail"class="control">
            </div>
            <div  class="control-formulario">
                <input type="password" name="password" placeholder="Password" class="control">
            </div>
            <div>
                <p class="ocontrasena"><a href="#">Olvidaste tu contraseña?</a></p>
            </div>
            <div class="control-formulario">
                <button type="reset" class="boton-formulario">Ingresar</button>
            </div>
            <div class="linea"></div>
            <div>
                <p>No tienes cuenta? <a href="/register"> Crea una aqui</a></p>
            </div>
        </form>
    </main>
</body>
</html>