<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/stylesproductCart.css">
    <title>sección del carrito de compras</title>
</head>
<body>
    
        <div> 

            <div class="busqueda" action="#" method="GET">
            </div>
    <div class="carrito">
    <i class="fas fa-cart-arrow-down"></i>
    <header>
        <section class="cabecera">
                       <div> <img class="logo" src="/images/logo g5.png"  alt="Logo de Bodega G5">
            <section>
                <div>descripcion de producto<br>precio</div> 
            </section>
        </div>
        
<div>
    <label>Categoria:</label>
    <select name="categoria">
    <option value="">Vinos añejos</option>
    <option value="">Vinos 1</option> 
    <option value="">Vinos 2</option>  
    <option value="">Vinos 3</option>  
    <option value="">Vinos 4</option>  
    <option value="">Vinos 5</option>  
    <option value="">Vinos 6</option>  
    <option value="">Vinos clasicos</option>  
    
    </div>
    </header>
    
    <footer>
        <ul>
            <li>home</li>
            <li>wine</li>
            <li>contacto</li>
            <li>nosotros</li>
        </ul>
        
        <div class="copyright">
            <p>Copyright O 2022 Bodegas y Viñedos Grupo 5 S.R.L.</p>
        </div>  
    </footer> 

</body>

</html>





<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/stylesproductCart.css">
     
</head>
<body>
    <header>  
     

<section class="cabecera">
    <div> 
        <img class="logo" src="/images/logo g5.png"  alt="Logo de Bodega G5">
    </div>
    

    </section>
</header>
    formulario para el carrito de compras
    <form action="/" method="GET"></form> 



<div>
    <label>Categoria:</label>
    <select name="categoria">
    <option value="">Vinos añejos</option>
    <option value="">Vinos 1</option> 
    <option value="">Vinos 2</option>  
    <option value="">Vinos 3</option>  
    <option value="">Vinos 4</option>  
    <option value="">Vinos 5</option>  
    <option value="">Vinos 6</option>  
    <option value="">Vinos clasicos</option>  
    
    </div>
    <br/>               
    <footer>
        <i>hola</i>
        <div class="copyright">
            <p>Copyright O 2022 Bodegas y Viñedos Grupo 5 S.R.L.</p>
        </div>  
    </footer>

</body>
</html>
-->
<!--formulario 
.body {
  background-size: contain;
}
header .cabecera {
	background-color:#514f4e;
}
div i{
     margin-top: 4px;
  margin-left: 80%;        
  padding: 10px;
  color: rgb(195, 255, 0);
   }
   div label{
     
     color:turquoise;
     
   }
   
   header {
    background:#514f4e url(../images/rausch.png) repeat;
    margin-top:0px;
    border-bottom:1px solid #a5916d;

   }
.logo {
	float: left;
	padding: top 10px;
}

.footer {
color: #2b1c1c;
}-->
