
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/stylesproductCart.css">
     
</head>
<body>
    <header>  
       <div><i class="fas fa-cart-plus"></i></div> 
</header>
    <!--formulario para el carrito de compras-->
    <form action="/" method="GET"></form> 
<div>
    <label>Nombre del producto:</label>
    <br>
    <imput type="text" name="nombre">
</div>
<div class="logo"> 
    <img src="images/logo g5.jpeg" alt="Logo de Bodega G5">
</div>
<div>
    <label>Categoria:</label>
    <select name="categoria">
    <option value="">Vinos añejos</option>
    <option value="">Vinos 1</option> 
    <option value="">Vinos 2</option>  
    <option value="">Vinos 3</option>  
    <option value="">Vinos 4</option>  
    <option value="">Vinos 5</option>  
    <option value="">Vinos 6</option>  
    <option value="">Vinos clasicos</option>  
    
    </div>

</form>

</body>
</html>