<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productDetail</title>
    <link rel="stylesheet" href="css/stylesProductDetail.css">
</head>
<body>

     
            <!--menuhome-->
            <header id="header"> 
                
                <div class="idiomas">
        <p class="idiomas">
            <a href="index.html">
                <img src="/images/Espanol.png">
            </a>
            <a href="index.html">
                <img src="/images/ingles.png">
            </a>
        </p>
</div>  
                <div class="idiomas">
                    <div class="container">
                        
                    </div>
                </div>
                
                <div class="mainmenu">
                        <ul>
                            <li><div class="header">
                                <div class="Logo">
                                    <img src="/images/logo.png" alt="">
                                </div>
                            </div></li>
                            <li><a href="/index">Home</a></li>
                            <li><a href="/productDetail.html">Productos</a></li>
                            <li><a href="/nosotros">Nosotros</a></li>
                            <li><a href="/contactenos">Contactenos</a></li>
                        </ul>  
                        <div class="busqueda" action="#" method="GET">
                            <div>Buscar: </div>
                            <div><i class="fa fa-search"></i></div>
                        </div>    
                    </div>    
            </header>


              
   <!--div añadir al carrito-->
     <div class="prueba" > 
         <h3>Producto</h3>
         <br>
         <br>
         <h4>Descripcion del producto</h4>
         <br>
         <br>
         <div  class="prueba">
        <input type="text" name="cantidad" placeholder="cantidad" class="control">
        </div>
        <div class="prueba"><button type="reset" class="boton-formulario">Agregar al carrito</button></div>
    </div>
  <!--div mostar imagen-->
  <div class="principal">
    <article>
        <img src="images/otra botella con logo.jpg" alt="Vino tinto" class="product_img">
        <div class="main-article">
            <i class="fas fa-truck"></i>
            <p class="price">$6.770</p>
          
            <h4 class="description">Vino tinto</h4>
        </div>
    </article>
   
    
    
</div>

</body>
</html>