*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}


.marcobodega{
    display:flex;
    justify-content: center;
}

.bodega{
    height: 400px;
	width: 100%;
    margin: 5px 5px;
}

.pie{
    font-weight: 100;
    margin-top: 15x;
    font-size: 40px;
    text-align: center;
   }
   .texto {
       margin-top: 10px;
       display: inline-block;
       text-align:justify ;
       font-size: 21px;
       height: auto;
       width: 40%;
   }

.copyright {
    margin-top: 10px;
    display:inline-block ;
    text-align:center ;
    font-size: 15px;
    height: 30px;
    width: 100%;
}
