h2{
    font-size: 24px;
    padding: 10px;
    margin:0%;
    text-align: center;   
}
.createProduct{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    align-items: flex-start;
    align-content: flex-start;
    width: 750px;
    background-color: #604621;
    height: 500px;
    overflow: auto;
    flex-direction: row;
    box-shadow: 7px 13px 37px #000;
    border-radius: 4px;
    padding: 10px;
    justify-content:space-around ;
    height: auto;
}
.createProduct label{
    color: white;
    padding-bottom: 15px;
}

.input1{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 340px;
    border-radius: 5px;
    border-color: white;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    font-size: 18px;
    width: 400px;
}

.controlIngresoProductos{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.botella{
    margin-left: auto;
    margin-right: auto;
}

.formulario__validacion-estado {
/*	position: relative; */
    top: 3px; left: -30px;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}
.formulario__input-error{
    display: none;
}
.formulario__input-error-activo {
	display: block;
}

.controlIngresoProductos2{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.inputImagenC{
    color: white;
}

.textaread{
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: large; 
    margin-bottom: 10px;
    margin-top: 5px;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}
.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

.boton-guardarP{
  margin-top: 15px;
  background: #604621;
  background-image: -webkit-linear-gradient(top, #604621, #9e7336);
  background-image: -moz-linear-gradient(top, #604621, #9e7336);
  background-image: -ms-linear-gradient(top, #604621, #9e7336);
  background-image: -o-linear-gradient(top, #604621, #9e7336);
  background-image: linear-gradient(to bottom, #604621, #9e7336);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 10px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: solid 1px white;
}

.boton-guardarP:hover {
  background: #9e7336;
  background-image: -webkit-linear-gradient(top, #9e7336, #604621);
  background-image: -moz-linear-gradient(top, #9e7336, #604621);
  background-image: -ms-linear-gradient(top, #9e7336, #604621);
  background-image: -o-linear-gradient(top, #9e7336, #604621);
  background-image: linear-gradient(to bottom, #9e7336, #604621);
  text-decoration: none;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}
