
/*-----------------Register------------------------*/
*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}
.Logo{
    margin-left:10px;
    margin-top: 10px;
    align-self: flex-start;
}
.Logo img{
    width: 100px;
    border-radius: 50%;
}
.titulo-register{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    padding: 10px;
    margin:0%;
    text-align: center;   
}
.create-user{  
    background: rgb(136,102,53);
    background: linear-gradient(90deg, rgba(136,102,53,1) 0%, rgba(96,70,33,1) 35%, rgba(87,70,48,1) 100%);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    background-color: transparent;
    height: 80vh;
    overflow: auto;
    flex-direction: column;
}
.control-formulario{
    text-align: center;
    width: 300px;
    height: 50px;
    margin: 10px;
    background-color: transparent;
}
.control{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    border-radius: 10px;
    border-color: white;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
}
.boton-formulario {
    background: #604621;
    background-image: -webkit-linear-gradient(top, #604621, #8f8980);
    background-image: -moz-linear-gradient(top, #604621, #8f8980);
    background-image: -ms-linear-gradient(top, #604621, #8f8980);
    background-image: -o-linear-gradient(top, #604621, #8f8980);
    background-image: linear-gradient(to bottom, #604621, #8f8980);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .boton-formulario:hover {
    background: #c4a781;
    background-image: -webkit-linear-gradient(top, #c4a781, #8a6a3e);
    background-image: -moz-linear-gradient(top, #c4a781, #8a6a3e);
    background-image: -ms-linear-gradient(top, #c4a781, #8a6a3e);
    background-image: -o-linear-gradient(top, #c4a781, #8a6a3e);
    background-image: linear-gradient(to bottom, #c4a781, #8a6a3e);
    text-decoration: none;
  }
  form div a{
      font-style: italic;
      font-size: 12px;
      color: white;
  }