.tituloproduct{
  font-weight: 900;
}


.allProducts{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.contenedor1{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
  padding: 10px;
  border: solid 1px black;
  box-shadow: 0px 0px 6px 3px rgba(68, 68, 68, 0.3);
  border-radius: 5px;
  margin-top: 15px;
  align-items: center;
}

.product_img{
  height: 410px;
  
}
.elemento1{
  width: 110px;

}
.elemento2 {
  max-width: 150px;
  
}

.elemento2 p{
  max-width: 150px;
  padding-left: 5px;
  
}
.nombreProdDetail{
  font-weight: 700;
}


/*---List Products---*/

.visita{
  margin-top: 10px;
}
.tituloListP {
  text-align: center;
  font-weight: 800;
}
.col-12{
    margin-left: 5%;
}

a.btn.btn-outline-primary {
  min-width: 130px;
  height: 40px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: 2px solid #604621;
  background: #fff;
  color: #604621
}
a.btn.btn-outline-primary:hover {
  background: #604621;
  color: #fff;
}

button.btn.btn-primary{
  background-color: #604621;
  border-color: white;
}
.col-6a{
  width: 100%;
  text-align: center;
  margin: 10px;
}
.formSearcLp{
  margin: 15px;
  height: 60px;
  text-align: center;
}
.menu-productos{
    padding: 2%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.campos-formulario {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.campos-formulario > div {
  width: 33%;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
}

.formulario-creacion {
  background-color: white;
  width: 60%;
  border-radius: 10px;
  padding: 1%;
  box-shadow: 0px 0px 6px 3px rgba(68, 68, 68, 0.3);
  margin-left: auto;
  margin-right: auto;
}
.formulario-creacion button,
.crear-boton {
  width: 90%;
  height: 35px;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 10px;
  font-weight: 500;
}
.botones.no-mobile button{
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  height: 35px;
  margin: 5px 0;
  width: 100%;
}
.botones.no-mobile button {
  width: 100%;
/*
.formulario-creacion button {
  background-color: var(--grisOscuro);
  margin-top: 9px;*/
}

.CRUD{
  margin-top: 20px;
}

.table{
    width: auto;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 6px 3px rgba(68, 68, 68, 0.3);
}
thead {
  background-color: var(--magenta);
  color: black;
  font-family: "Montserrat", sans-serif;
}

th, td{
    width: 25%;
    text-align: left;
    vertical-align: top;
    /*border-bottom: 1px solid black;*/
    border-collapse: collapse;
    padding: 2px;
    
}
th {
    font-weight: bolder;
    font-size: 18px;
}
a.btn.btn-info{
  background-color: rgb(250, 241, 227);
  border-color: #604621;
}
a.btn.btn-success{
  background-color: rgb(233, 204, 161);
  border-color: #604621;
}
a.btn.btn-danger{
  background-color: rgba(253, 150, 150, 0.836);
  border-color: #604621;
}


/*---edit Products---*/

.w-100e{
    width: 110px;
    margin-left: 310px;
}


@media (max-width: 820px) {
    .formulario-creacion {
        width: 95%;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


}