
/*TITULOS DEL CONTENIDO DEL CARRO*/

.titulo-main{  
  background-color:none;
  text-align: center;
  font-size: 1.6rem;
  margin-right: none;
  margin-left:none;
  padding-top: none;
  padding-left: none;
  border-bottom: black 3px solid;
  align-self: normal;
  font-family: 'Raleway', sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  width: 100vw;
  text-align: center;
  margin: auto;
}
.container:hover{
    color: green;
    transition: color .2s;
    }
  
.titles {
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  font-weight: 700;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}
.titles:hover{
  color:green;
}

.productosad{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family:'Raleway', sans-serif;
  border-bottom: 2px dashed black;
  background: transparent;
}
.descripcionp{
  font-family: cursive;
  font-weight: 500;
  color: black;
  font-size: 20px;
}
.descripcionp:hover{
  color: green;
  transition: color .2s;
}
.preciop{
  font-family: cursive;
  color: black;
  font-size: 20px;
}
.preciop:hover{
  color: green;
  transition: color .2s;
}
article div img{
  max-width: 100%;
  max-height: 60%;
}

 .imagenp{  
  height: 250px;
  max-width: 98px;
  max-height: 290px;
  margin: 5px;
  width: 100%;
  border-radius: 90%;
 }

 .cantidadp{
  display: flex;
  font-family: cursive;
  color: black;
  font-size: 20px;
  border-radius: 150px;
  box-sizing: border-box;
  
}
.cant{
border-radius: 5%;
font-weight: 700;
color: black;
border-color:rgb(70, 10, 10);
border-width: 4px;
width: 60px;
}
.cant:hover{
  color: green;
  transition: color .2s;
  opacity: o.2;
}
.cantidadp:hover{
  color:green;
  transition: color .2s;
}
.totalp{
  display: flex;
  font-family: cursive;
  color: black;
  font-size: 20px;
}
.totalp:hover{
  color: green;
  transition: color .2s;
}
.masmenos{
  display: flex;
  flex-direction: column;
}
.botonm{
  justify-content: center;

}

.btnResta{
  background-color: rgb(236, 96, 96);
}

.btnVaciar{
  background-color: rgb(236, 96, 96);
}


