*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

.idiomas {
	background:hsl(40, 7%, 74%);
}


p.idiomas {
	font-size:11px;
	text-align:right;
	text-shadow:none;
	padding-top:5px;
	padding-bottom:2px;
	padding-right:10px;
}

header .cabecera {
	background-color:#604621;
}

.mainmenu li a{
    font-size: 20px;
	padding: 25px 25px 25px 15px;
	font: bolder;
    font-family: Raleway ;
	color:whitesmoke;
    text-decoration: none;

}
.principal{
    display:flex;
    justify-content: center;
    min-width: 20%;
}

.mainmenu ul {
	display: flex;
	margin-top: 10%;
    
}


#header {
	background:#604621;
	margin-top:0px;
	border-bottom:10px solid #a5916d;
}

.Logo{
    margin-left:10px;
    margin-top: 10px;
    align-self: flex-start;
}
.Logo img{
    width: 100px;
    border-radius: 50%;
}

.prueba{
    margin-left:10px;
    margin-top: 10px;
    align-self: flex-start;
    width: 90%;
    text-align: center;
}
.principal{
    width: 50%;
}

.mainmenu li a{
    font-size: 20px;
	padding: 25px 25px 25px 15px;
	font: bolder;
    font-family: Raleway ;
	color:whitesmoke;
    text-decoration: none;

}

.mainmenu li a:hover{
	color: green;
	transition: color .5s;
}

.mainmenu ul {
	display: flex;
	margin-top: 0.3%;
    
}
