
/*-----------------Register------------------------*/


.titulo-register{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    padding: 10px;
    margin:10px;
    text-align: center;   
}
.titulo-usuario{
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  padding: 10px;
  margin:1%;
  text-align: center;   
}
.create-user{  
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: nowrap;
    padding-top: 15px;
    align-items: center;
    align-content: center;
    width: 410px;
    background-color: #604621;
    height: auto;
    overflow: auto;
    flex-direction: column;
    box-shadow: 7px 13px 37px #000;
    border-radius: 4px;
    padding: 10px;
}
.control-formulario{
    text-align: center;
    width: 300px;
    height: 50px;
    margin: 10px;
}
.control{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    border-radius: 5px;
    border-color: white;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    font-size: 18px; 
}
form div p{
    color: white;
    text-align: left;
    font-family: 'Raleway', sans-serif;
}

.boton-formulario {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #495057;
  color: #4b402a;
}
.boton-formulario:hover {
  color: #fff;
}
.boton-formulario:hover:after {
  height: 100%;
}
.boton-formulario:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.4s ease;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  background: #bbac96;
}

  form div a{
      font-style: italic;
      font-size: 12px;
      color: white;
  }


  /*--login--*/

  .ocontrasena{
      padding: 5px;
      font-size: 16px;
  }
  .linea{
    border-top: 1px solid white;
    height: 2px;
    width: 220px;
    padding: 0;
    margin: 10px auto 10px auto;
}

