<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nosotros</title>
    <!--<link rel="stylesheet" href="css/stylesRegister.css">-->
</head>
<%- include ('partials/head') %>

    <body>
        <%- include('partials/header') %>

            <main class="letras">
                <h3 class="about-usbd">SOBRE NOSOTROS</h3>
                <div class="about">GRUPO 5 se embarcó en el proyecto de la construcción de una bodega en donde se elaboran sus líneas. La misma se
                    encuentra ubicada en Perdriel, departamento de Luján de Cuyo. Aquí, desde el año 2021 se producen los vinos de ambos
                    bajo la supervisión de Juan Felipe Diez y un equipo de profesionales Juan Carlos Fedyna, Harvey Mayorga y Daniel
                    Modarelli comprometidos y preparados para llevar adelante la tarea de elaboración de vinos de alta gama.
                    
                    El mayor logro pasa por el desarrollo de una bodega pensada para producir vinos argentinos de gran personalidad y
                    distinción.
                    
                    Bodega GRUPO 5, es la prueba de que siempre se puede ir más allá de un objetivo, innovando, estudiando, conociendo,
                    manteniéndose en constante movimiento. Es el resultado de una misma pasión, el vino, y la certeza de que el mejor
                    maridaje se logra cuando lo compartimos con quienes y lo que más disfrutamos de la vida.
                </div>

                <section class="descripciones">   
                        <article class="marco">
                            <img src="images/Daniel.jpeg" halt="Paco" class="photoPersonal">
                            <h4 class="nombreAbout">Dani</h4>
                            <div class="historia">Con 56 años, 2 hijos de (27 y 16 años). 
                                Trabajo hace 26 años en un Cementerio Parque, 
                                "Parque de Descanso. Estudie Analisis de Sistemas y siempre 
                                trabaje en el area de informática (redes, servidores y programación 
                                en otros lenguajes)"
                            </div>
                        </article>
                        <article class="marco">
                            <img src="images/paco.jpeg" halt="Paco" class="photoPersonal">
                            <h4 class="nombreAbout">Paco</h4> 
                            <div class="historia"> 37 años, casado y sin hijos, trabajo en una libreria, 
                                en estos ultimos 2 años trabaje con el desarrollo de varias 
                                cuentas de mercado libre y eso desperto mi deseo de 
                                aprender a programar y aprender mucho sobre como desde una simple linea de 
                                código, en adelante ocurre la magia, en estos mas de 5 meses de trabajar en el 
                                proyecto me di cuenta que es muy apasionante y desafiante el desarrollo Web.
                                Ser un Full Stack es el primer paso en esta estapa.

                            </div>
                        </article>
                        <article class="marco">
                            <img src="images/harvey.jpeg" halt="Harvey" class="photoPersonal">
                            <h4 class="nombreAbout">Harbey</h4>
                            <div class="historia"> 31 años, soy Ingeniero de sistemas y trabajo en el 
                                area de soporte desde hace tres años pero quiero 
                                cambiar el enfoque de mi profesion por eso decidi estudiar este curso.
                            </div>
                        </article>
                        <article class="marco">
                            <img src="images/felipe.jpeg" halt="Harvey" class="photoPersonal">
                            <h4 class="nombreAbout">Felipe</h4>
                            <div class="historia"> 43 años, un hijo de 7 años, soy Administrador de Empresas, trabajo en 
                                una empresa de instalaciones eléctricas y doy asesorías en temas 
                                administrativos, un apasionado por la tecnología y por el estudio, por 
                                eso tome la decisión de realizar el curso de FullStack y obtener 
                                conocimientos para aplicarlos en nuevos retos profesionales.
                            </div>
                        </article>
                </section>
            </main>

            <%- include('partials/footer') %>
            
    </body>

</html>