<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <head>
        <title>Home Bodega grupo 5</title>
    </head>
    <%- include('./partials/header') %>
    
    <body class="bodyIndex">

        <div class="contenedorN">
            <div class="slider-contenedor">
                <section class="contenido-slider">
                    <img src="/images/FotoPaginaInicio5.jpg" alt="">
                    <div>
                        <h2>Nuestro aprendizaje y dedicación</h2>
                    </div>
                        <img src="/images/FotoPaginaInicio1.jpg" alt="">
                </section>
                <section class="contenido-slider">
                    <div>
                        <h2>Los mejores vinos cuidados como en casa, para exaltar los sabores</h2>
                    </div>
                        <img src="/images/FotoPaginaInicio2.jpg" alt="">
                </section>
                <section class="contenido-slider">
                    <div>
                        <h2>Vinos bien conservados disfrutarlos sera tu mejor experiencia</h2>
                    </div>
                        <img src="/images/FotoPaginaInicio4.jpg" alt="">
                </section>
                <section class="contenido-slider">
                    <img src="/images/FotoPaginaInicio5.jpg" alt="">
                    <div>
                        <h2>Nuestro aprendizaje y dedicación</h2>
                    </div>
                    <img src="/images/FotoPaginaInicio1.jpg" alt="">
                </section>
            </div>
        </div>


    <script src = "js/index.js"></script>
    
</body>
<%- include('./partials/footer') %>
</html>