<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <head>
        <title>Home Bodega grupo 5</title>
        <!--<link rel="stylesheet" href="css/styleIndex.css">-->
    </head>
    
<body>
    <%- include('./partials/header') %>
    
    <div class="marcobodega">
        <img class="bodega" src="/images/FotoPaginaInicio.jpg"  alt="imagen">
    </div>
    <%- include('./partials/footer') %>
</body>
</html>