<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <main class="body-produts">
        <section class="visita">
            <h3>LISTADO DE PRODUCTOS</h3>
        </section>
        <div class="menu-productos">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Ver</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Borrar</th>
                    </tr>
                </thead>

                <tbody>
                     
                    <td><%= %></td>
                </tbody>
            </table>



        </div>


    </main>
</body>
</html>