<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<head>
    <title>Login</title>
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <form action="/user/login" method="POST" class="create-user">
            
            <h3 class="titulo-register">
                Ingresa tu e-mail y contraseña
            </h3>
            <div  class="control-formulario">
                <input 
                    type="email"
                    name="email" 
                    placeholder="E-mail"
                    class="control"
                    id="email">
            </div>
            <div  class="control-formulario">
                <input 
                    type="password" 
                    name="password" 
                    placeholder="Password" 
                    class="control">
                    <% if (locals.errors && errors.email) {%>
                        <div>
                          <span style="color: yellow; font-size: 12px"><%= errors.email.msg %></span> 
                        </div>
                    <% } %> 
            </div>
            <div class="titulo-usuario">
                <input type="checkbox" id="recordar" name="recordar">
                <label for="recordar">Recordar Usuario</label>
            </div>

            <div class="control-formulario">
                <button type="submit" class="boton-formulario">Ingresar</button>
            </div>
                

            <div class="linea"></div>
            <div>
                <p>No tienes cuenta? <a href="/user/register"> Crea una aqui</a></p>
            </div>
        </form>
    </main>
   
    <%- include('./partials/footer') %>
    <script src="/js/login.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>