<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<head>
    <title>Login</title>
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <form action="/user/login" method="POST" class="create-user">
            
            <h3 class="titulo-register">
                Ingresa tu e-mail y contraseña
            </h3>
            <div  class="control-formulario">
                <input type="email" name="email" placeholder="E-mail"class="control">
            </div>
            <div  class="control-formulario">
                <input type="password" name="password" placeholder="Password" class="control">
            </div>
            <div>
                <p class="ocontrasena"><a href="#">Olvidaste tu contraseña?</a></p>
            </div>
            <div class="control-formulario">
                <button type="submit" class="boton-formulario">Ingresar</button>
            </div>
            <div class="linea"></div>
            <div>
                <p>No tienes cuenta? <a href="/user/register"> Crea una aqui</a></p>
            </div>
        </form>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>