<!DOCTYPE html>
<html lang="en">

<body>
    <section>
        <h2>Upsssss</h2>
        <h4>La página que intentas solicitar no está en el servidor </h4>
        <p>Prueba mejor suerte con esos links:</p>
        <ul>
            <li>Home</li>
            <li>Productos</li>
            <li>Nosotros</li>
        </ul>
        <p>Siempre eres bienvenido(a) a nuestro sitio</p>
        
    </section>
    <section>
        <img src="images/botella-q.png" class="img404">
    </section>
</body>



</html>