<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    

<div class="text404">404</div>

    

<section class="not-found">
    <section class="nfs1">
        <h2>Upsssss</h2>
        <h4>La página que intentas solicitar no está en el servidor </h4>
        <p>Prueba mejor suerte con estos links:</p>
        <ul class="listRedirection">
            <li><a href="/">Home</a></li>
            <li class="lprod"><a href="/listProducts">Productos</a></li>
            <li class="lNosot"><a href="/about">Nosotros</a></li>
        </ul>
        <p>Siempre eres bienvenido(a) a nuestro sitio</p>
        <div class="imgBienvenidaPpal">
            <a href="/"><img src="/images/bienvenido_bodega_g5.jpg" class="imgBienvenida"></a>
        </div>
    </section>
    <section class="nfImag">
        <img src="/images/botella-q.png" class="img404">
    </section>
</section>
</body>



</html>