<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<head>
    <title>Productos</title>
</head>
<body>
    <%- include('./partials/header') %>
     
            
     

              
    <section>

    

                <!--contenedor de productos en miniatura-->
                <div class="contenedor2">
                    <div class="elemento3">
                        <img src="/images/clogoespumante.jpg" width="100"halt="Vino blanco" class="product_img">
                        <i class="fas fa-truck"></i>
                     <p class="price">$4.000</p>
                     <h3 class="nombre">Espumante</h3>
                    <h4 class="description">Espumoso</h4>
                   <button type="reset" class="boton-formulario">Agregar al carrito</button>
                    </div>
                    <div class="elemento4">
                        <img src="/images/Judas_Malbec.jpg" width="80"halt="Vino tinto" class="product_img">
                        <i class="fas fa-truck"></i>
                     <p class="price">$6.000</p>
                     <h3 class="nombre">Judas</h3>
                    <h4 class="description">Vino tinto</h4>
                    <button type="reset" class="boton-formulario">Agregar al carrito</button>
                    </div>
                    <div class="elemento5">
                        <img src="/images/Junior_Blend.jpg" width="90"halt="Vino Blanco" class="product_img">
                        <i class="fas fa-truck"></i>
                     <p class="price">$5500</p>
                     <h3 class="nombre">Junior Blend</h3>
                    <h4 class="description">Vino Tinto</h4>
                    <button type="reset" class="boton-formulario">Agregar al carrito</button>
                    </div>
                    <div class="elemento6">
                        <img src="/images/LaConsulta.jpg" width="85"halt="Vino Tinto" class="product_img">
                        <i class="fas fa-truck"></i>
                     <p class="price">$5.000</p>
                     <h3 class="nombre">La Consulta</h3>
                    <h4 class="description">Vino Tinto</h4>
                    <button type="reset" class="boton-formulario">Agregar al carrito</button>
                    </div>
                    <div class="elemento7">
                        <img src="/images/María_Magdalena.jpg" width="100"halt="Vino Tinto" class="product_img">
                        <i class="fas fa-truck"></i>
                     <p class="price">$4.500</p>
                     <h3 class="nombre">Maria Magdalena</h3>
                    <h4 class="description">Vino Blanco</h4>
                    <button type="reset" class="boton-formulario">Agregar al carrito</button>
                    </div>
                    <div class="elemento8">
                        <img src="/images/Reserva_de_Familia_Malbec.jpg" width="75"halt="Vino Tinto" class="product_img">
                        <i class="fas fa-truck"></i>
                     <p class="price">$5.000</p>
                     <h3 class="nombre">Malma</h3>
                    <h4 class="description">Vino Tinto</h4>
                    <button type="reset" class="boton-formulario">Agregar al carrito</button>
                    </div>
                    <div class="elemento9">
                        <img src="/images/SantaRita.jpg" width="80"halt="Vino Tinto" class="product_img">
                        <i class="fas fa-truck"></i>
                     <p class="price">$6.000</p>
                     <h3 class="nombre">Santa Rita</h3>
                    <h4 class="description">Vino Tinto</h4>
                    <button type="reset" class="boton-formulario">Agregar al carrito</button>
                    </div>
                </div>  
            
    </section>
</body>
<%- include('./partials/footer') %>
</html>