<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<head>
    <title>Registro</title>
    <!--<link rel="stylesheet" href="css/stylesRegister.css">-->
</head>
<body>
    <%- include('./partials/header') %>
    
    <main>  <!--Se realiza main con la finanlidad de poder realizar un flexbox y poder manejar sus propiedades-->
        <form action="" method="post" class="create-user">
            <div class="control-formulario">
                <p>
                    <i class="far fa-question-circle"></i><b> Ya tienes cuenta? </b><a href="/user/login">!Inicie sesión¡</a>
                </p>
            </div>
            <h3 class="titulo-register">
                Regístrate
            </h3>
            <div  class="control-formulario">
                <input type="text" name="nombreyapellido" placeholder="Nombres y apellidos" class="control" required>
            </div>
            <div  class="control-formulario">
                <input type="email" name="email" placeholder="E-mail"class="control">
            </div>
            <div  class="control-formulario">
                <input type="text" name="telefono" placeholder="Telefono" class="control">
            </div>
            <div  class="control-formulario">
                <input type="password" name="password" placeholder="Password" class="control">
            </div>
            <div  class="control-formulario">
                <input type="password" name="cpassword" placeholder="Confirmar Password" class="control">
            </div>
            <div class="control-formulario">
                <button type="reset" class="boton-formulario">Guardar</button>
            </div>
            
        </form>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>