<header>
    <div class="idiomas">
        <p class="idiomas">
            <a href="index.ejs">
                <img src="/images/Espanol.png">
            </a>
            <a href="index.ejs">
                <img src="/images/ingles.png">
            </a>
        </p>
    </div>
    <section class="cabecera">
        <div class="marcoLogo">
            <a href="/"><img class="logo" src="/images/logo g5.png" alt="Logo de Bodega G5"></a>
        </div>

        <nav class="mainmenu">
            <ul>
                <li><a href="menu1">Nuestra Historia</a></li>
                <li><a href="/productDetail">Productos</a></li>
                <li><a href="/register">Registrate</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="menu5">Contactenos</a></li>
                <li><a href="/productCart">Compras &nbsp<i class="fas fa-shopping-cart"></i></a> </li>
            </ul>
        </nav>
        <button class="burguermenu" type="button">
            <i class="fas fa-bars"></i>
        </button>

    </section>
</header>